<main id="main" class="main">

    <div class="pagetitle">
      <h1>Preguntas Frecuentes</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img class="img-fluid" src="assets/img/Cescom logo.png" alt="">
              <h2 class="mt-3">CESCOM</h2>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card basic">
            <div class="card-body pt-3">
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active custom-btn" data-bs-toggle="tab" data-bs-target="#profile-overview">Sobre Nosotros</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link custom-btn" data-bs-toggle="tab" data-bs-target="#contacto">Contacto</button>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">¿Quienes Somos?</h5>
                  <p>
                      En SpotiStats, somos más que una plataforma de estadísticas musicales. Nos consideramos exploradores apasionados del vasto y diverso universo de la música. Creemos en el poder de los datos para contar historias fascinantes sobre artistas, canciones y tendencias musicales.
                  </p>

                  <h5 class="card-title">Nuestra Identidad</h5>
                  <p>
                      En el corazón de SpotiStats está la creencia de que la música va más allá de las notas y los ritmos; es un viaje que nos conecta a todos. Nos esforzamos por dar vida a esta conexión a través de estadísticas que revelan la riqueza y la complejidad de la expresión musical.
                  </p>

                  <h5 class="card-title">Un Equipo Apasionado</h5>
                  <p>
                      Detrás de SpotiStats hay un equipo diverso y apasionado. Desde amantes de la música hasta expertos en datos, todos compartimos la visión de enriquecer tu experiencia musical a través de una mirada única a las estadísticas.
                  </p>
                </div>

                <div class="tab-pane contacto pt-3" id="contacto">
                  <form>
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo Electrónico</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email">
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Asunto</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Asunto" type="text" class="form-control" id="Asunto">
                      </div>
                    </div>
  
                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">Mensaje</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="mensaje" class="form-control" id="mensaje" style="height: 100px"></textarea>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Envíar</button>
                    </div>
  
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->