<main id="main" class="main">

    <div class="pagetitle">
      <h1>Inventario </h1>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
      <div class="row">
  
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
  
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Compras de Radios</h5>
  
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Ver Más</th>
                      </tr>
                    </thead>
                    
                  </table>
  
                </div>
  
              </div>
            </div><!-- End Recent Sales -->

  
          </div>

          <div class="row">
  
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Reparacion de Radios</h5>
  
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col">Ver Más</th>
                      </tr>
                    </thead>
                    
                  </table>
  
                </div>
  
              </div>
            </div><!-- End Recent Sales -->

  
          </div>
        </div><!-- End Left side columns -->
  
      </div>
    </section>
