<div class="container-fluid py-2 text-center">
    <div class="d-flex flex-column mb-3">
        <div class="p-2">
            <i id="usuario" class="bi bi-person-circle"></i>
        </div>
        <div class="p-2 ">
            <input type="email" class="form-control border-2 rounded-4 w-25" id="correo" placeholder="correo@example.com" required>
        </div>

        <div class="p-2">
            <input type="text" class="form-control border-2 rounded-4 w-25" id="nombre" placeholder="Nombre" required>
        </div>

        <div class="p-2">
            <input type="text" class="form-control border-2 rounded-4 w-25" id="apellido" placeholder="apellido" required>
        </div>

        <div class="p-2 ">
            <input type="password" class="form-control border-2 rounded-4 w-25" id="clave" placeholder="Clave" required>    
        </div>
        <div class="p-2 ">
            <button type="submit" class="btn border-2 rounded-4 w-25 text-white " id="log">Registrarse</button>
        </div>
    </div>    
</div>