#usuario{
    font-size: 10rem;
    color: #1F63AA;
}

#nombre, #clave{
    border-color: #1F63AA;
}

.form-control{
    margin: auto;
}

#log{
    background-color: #1F63AA;
    font-weight: bold;
}

/*#fondo{
    background-image: url('radios.jpg');
    background-size: 100%;
}*/